/* You can add global styles to this file, and also import other style files */
body {
    background-color: cornflowerblue;
    padding: 1em;
    font-family: 'Trebuchet', 'Trebuchet', 'Trebuchet'
  }
